@use "variables" as *;

.post-container {
  padding: 80px 0px;

  div {
    border-bottom-color: rgba(18, 49, 43, 0.5);
  }
}

@media screen and (max-width: $mobile-width) {
  .post-container {
    padding: 40px 0px;
  }
}