@use "variables" as *;

.post-container {
  padding: 40px 0px;
  margin-bottom: 20px;

  div {
    border-bottom-color: rgba(18, 49, 43, 0.5);
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $container-width;
}

.body-container {
  width: $container-width;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-body {
  width: 70%;
  padding: 2.5%;

  p {
    line-height: 1.55rem;
    margin: 2rem auto;
  }
}

@media screen and (max-width: $mobile-width) {
  .post-container {
    padding: 30px 0px;
    margin-bottom: 0;
  }
  .header {
    flex-direction: column-reverse;
  }
}