@use "variables" as *;

.hero-section {
  align-items: center;
  height: calc(100vh - 100px);
  margin-bottom: 50px;
}

.small {
  height: calc(100vh - 200px);
}

.hero-text {
  max-width: 60%;
  text-align: center;
  margin: 4vh auto;
}

.title {
  line-height: 3.25rem;
  margin-bottom: 30px;
}

.title-small {
  line-height: 2.6rem;
  margin-bottom: 15px;
}

.subtitle {
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: $container-width) {
  .hero-section {
    svg {
      width: 70%;
      height: auto;
    }
  }
}

@media screen and (max-width: 750px) {
  .hero-section {
    margin-bottom: 0;
    svg {
      width: 90%;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-text {
    max-width: 80%;
  }
}

@media screen and (max-height: 800px) {
  .hero-text {
    margin-top: 2vh;
  }
  .small {
    height: auto;
    margin-bottom: 10vh;

    .hero-text {
      margin-top: 4vh;
    }
  }
}

@media screen and (max-height: 568px) {
  .hero-section, .small {
    height: auto;
  }
}