@use "variables" as *;

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: $mobile-width) {
  .content {
    margin-top: 80px;
  }
}