@use "variables" as *;

.section-container {
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;
}

.text {
  margin: 5%;

  h3 {
    margin-top: 40px;
  }
  h6 {
    font-size: 0.9rem;
  }
}

.image-background {
  background: linear-gradient(to bottom, $forest-green 0%, $forest-green 50%, white 50%, white 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: $container-width;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 70%;
  margin-bottom: 10px;
}

@media screen and (max-width: $mobile-width) {
  .image {
    width: 80%;
  }
}