@use "variables" as *;

.two-column {
  width: $container-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 110px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 65%;  
    border-bottom: 0.5px solid rgba(0,0,0,0.3);
    transform: translateX(-50%)
  }

  &:last-child:after {
    border-bottom: 0px;
  }

  a:hover {
    opacity: 0.7;
  }
  a:active {
    opacity: 0.5;
  }
}

.unbordered:after {
  border-bottom: 0px;
}

.main-image {
  width: 50%;
  position: relative;
}

.text {
  width: 45%;
  padding-top: 30px;
}

.icon {
  display: inline;
  margin-right: 15px;

}

.text-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider {
  background-color: $forest-green;
  width: 70px;
  height: 6px;
  margin-top: 8px;
}

.cta-button, .content, .text-button {
  margin-top: 30px;
}

.text-button {
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
  padding-bottom: 10px;
  position: relative;
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;

    &:after {
      width: 100%;
    }
  }
  &:active {
    opacity: 0.5;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 65%;  
    border-bottom: 0.5px solid;
    transition: all 0.5s;
  }
}

@media screen and (max-width: $container-width) {
  .two-column {
    padding: 110px 5vw;
  }
  .text {
    padding-top: 0px;
  }
  .main-image {
    width: 50%;
  }
}

@media screen and (max-width: $mobile-width) {
  .two-column {
    padding: 70px 5vw;
    flex-direction: column-reverse !important;
  }
  .main-image, .text {
    width: 90% !important;
  }
  .two-column {
    align-items: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .divider {
    display: none;
  }
  .cta-button, .content {
    margin-top: 20px;
  }
  .icon {
    margin-right: 10px;
  }
  .text-button {
    &:after {
      width: 100%;
    }
  }
}