@use "variables" as *;

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: $container-width;
}

.no-even-space {
  &:after {
    content: "";
    flex: auto;
  }
}

@media screen and (max-width: $mobile-width) {
  .grid {
    justify-content: center !important;
  }
  .no-even-space {
    &:after {
      content: "";
      flex: 0;
    }
  }
}