@use "variables" as *;

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  background-color: $background-gray;
}

.emphasis {
  background-color: $forest-green;
  * {
    color: white !important;
  }
}

.container {
  width: $container-width;
}