@use "variables" as *;

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background-color: $background-gray;
}

.emphasis {
  background-color: $forest-green;
  * {
    color: white !important;
  }
  div {
    border-bottom-color: rgba(255,255,255,0.5);
  }
}

.container {
  width: $container-width;
}

.divider {
  height: 0px;
  width: 0px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(18, 49, 43, 0.5);
}

@media screen and (max-width: $mobile-width) {
  .header {
    margin-top: 60px;
  }
}