@use "variables" as *;

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background-color: $background-gray;
}

.emphasis {
  background-color: $forest-green;
  * {
    color: white !important;
  }
}

.container {
  width: $container-width;
}

@media screen and (max-width: $mobile-width) {
  .header {
    margin-top: 60px;
  }
}