@use "variables" as *;

.light-section {
  background-color: $background-gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: $container-width;
}