@use "variables" as *;

.post-container {
  padding-bottom: 140px;
  padding-top: 60px;
  position: relative;
}

.see-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 1.25%;
  top: -30px;
}

@media screen and (max-width: $container-width) {
  .see-all {
    right: 2.5%;
  }
}

@media screen and (max-width: $mobile-width) {
  .post-container {
    padding-bottom: 60px;
    padding-top: 0px;
  }
  .see-all {
    right: 3vw;
  }
}