@use "variables" as *;

.post-container {
  padding-top: 40px;
  padding-bottom: 140px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: $mobile-width) {
  .post-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .header {
    margin-bottom: 0px;
  }
}