@use "variables" as *;

.post-container {
  padding-top: 40px;
  padding-bottom: 140px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}

.see-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 2.5%;
}

@media screen and (max-width: $mobile-width) {
  .post-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .header {
    margin-bottom: 0px;
  }
  .see-all {
    right: 3vw;
  }
}