@use "variables" as *;

.scroll-up {
  transform: translateY(-100px);
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0px;
  height: 100px;
  transition: all 0.4s;
}

.header {
  margin: 0 auto;
  width: $container-width;
  max-width: $container-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  background: white;
  z-index: 1;
  transition: all 0.4s;
}

.logo {
  color: $forest-green;
  font-size: 1.8rem;
  font-weight: 700;

  .second-word {
    color: $mid-green-3;
  }
}

.nav-link-container {
  position: relative;
  z-index: 999;
}

.nav-link {
  margin: 0px 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  position: relative;
}

.links, .mobile-nav-link {
  display: flex;
}

.no-hover:active, .no-hover:hover { opacity: 1; }

.dropdown-inner {
  position: relative;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 5px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-width: 180px;
  top: 20px;
  left: -10px;
  padding-top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0;
  z-index: 999;

  .nav-link {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 8px;
    right: 8px;
    bottom: 0;
    box-shadow: 0 0 28px rgba(6,67,117,.3);
    z-index: 1;
  }

  &:after {
    content: '';
    width: 12px;
    height: 12px;
    transform: rotate(45deg) translateY(50%);
    box-shadow: -2px -2px 4px rgba(6,67,117,.05);
    position: absolute;
    top: 10px;
    left: 50px;
    background: white;
    z-index: 999;
  }
}

.mobile-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 8vw;
  opacity: 0;
  z-index: 999;
}

.mobile-nav-link-container {
  margin: 20px 0px;
  font-weight: 700;
  font-size: 2rem;
  opacity: 0;
}

.mobile-dropdown {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 0;

  .nav-link {
    margin: 5px 15px;
  }
}

.toggle {
  z-index: 1000;
}

@media screen and (max-width: $container-width) {
  .header {
    width: 100%;
  }
}