@use "variables" as *;

/*
 * Fonts.
 */
@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-Bold-01.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-BoldItalic-02.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-DemiBold-03.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-DemiBoldItalic-04.ttf");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-Italic-05.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-Medium-06.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-MediumItalic-07.ttf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-Regular-08.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-UltraLight-11.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNext-UltraLightItalic-12.ttf");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

/*
 * Global layout.
 */
* {
  box-sizing: border-box; 
  font-family: AvenirNext, Avenir Next, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
}

/*
 * Specific elements.
 */
h1 {
  color: $forest-green;
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  color: $forest-green;
  font-weight: 700;
  font-size: 2rem;
}

// h1, h2 { font-family: Palatino; }

h3 {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  color: $forest-green;
  font-weight: 600;
  font-size: 1.2rem;
}

h5 {
  color: $forest-green;
  font-weight: 600;
  font-size: 1rem;
}

h6 {
  color: black;
  font-weight: 300;
  font-size: 1rem;
}

p {
  color: black;
  font-weight: 400;
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

input:focus, button:focus, div:focus {
  outline: 0;
}

button, a {
  border: 0;
  cursor: pointer;
}

button {
  background: linear-gradient(180deg, $dartmouth-green 0%, $mid-green-1 100%);
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
  font-weight: 500;
  position: relative;
  z-index: 100;
  transition: transform 0.3s;
  font-size: 0.9rem;

  &:before {
    border-radius: inherit;
    background: linear-gradient(180deg, $forest-green 0%, $dartmouth-green 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.7s;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.transparent {
  background: transparent;
  padding: 0;
  color: black;
  
  &:before {
    width: 0;
    height: 0;
    background: transparent;
  }
}

.opacity-toggle {
  transition: all 0.3s;
  &:hover { opacity: 0.7; }
  &:active { opacity: 0.5; }
}

a {
  transition: all 0.3s; 

  &:hover {
    color: $dartmouth-green;
  }
  &:active {
    opacity: 0.7;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: default !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  width: $container-width;
}

p {
  margin: 1rem 0;
}

.page-not-found {
  width: $container-width;
  max-height: calc(100vh - 350px);
  max-width: calc(100vw - 100px);
}

.page-title {
  margin-top: 20px;
  margin-left: calc((100vw - #{$container-width}) / 2 + 20px);
  align-self: flex-start;
}

.image-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preview {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 998;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 0 2.5%;
  width: 100%;
  bottom: 0px;
}

.preview-button {
  color: white;
  font-size: 0.8rem;
}

@media screen and (max-width: $container-width) {
  .page-title {
    margin-left: 20px;
  }
}

@media screen and (max-width: $mobile-width) {
  .page-title {
    align-self: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

/*
 * Responsive font sizing.
 */
html {
  @include fluid-type($min-width, $container-width, $min-font, $max-font);
}

